{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block javascripts %}
    const container = document.getElementById('carousel-container-maison');
    const content = document.getElementById('carousel-content-maison');
    const prevBtn = document.getElementById('prev');
    const nextBtn = document.getElementById('next');

    let currentIndex = 0;
    const totalItems = document.querySelectorAll('.carousel-item-maison').length;
    const visibleItems = 3; // Nombre d'images visibles à la fois

    nextBtn.addEventListener('click', () => {
        if (currentIndex < totalItems - visibleItems) {
            currentIndex++;
            updateCarousel();
        }
    });

    prevBtn.addEventListener('click', () => {
        if (currentIndex > 0) {
            currentIndex--;
            updateCarousel();
        }
    });

    function updateCarousel() {
        const newPosition = -currentIndex * 100 / visibleItems + '%';
        content.style.transform = 'translateX(' + newPosition + ')';
    }

{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="events">
    <h3>Évènements :</h3>
        <div id="carousel-container-maison">
            <div id="carousel-content-maison">
                {% for evenement in evenements %}
                <div class="carousel-item-maison"><img src="{{asset(evenement.idImage.pathImage)}}" href="{{ path('app_evenement_id', {id: evenement.id}) }}" alt="{{ evenement.nomEvent }}">{{ evenement.nomEvent }}</div>
                {% endfor %}
            </div>

            <div id="prev">&lt;</div>
            <div id="next">&gt;</div>
        </div>
    </div>
    <br>
    <div class="animaux">
    <h3>Animaux :</h3>
        {% for animal in animaux %}
            <div class="animal"><img src="{{asset(animal.idImage.pathImage)}}" href="{{ path('app_animal_id', {id: animal.id}) }}" alt="{{ animal.nomAnimal }}">{{ animal.nomAnimal }}</div>
        {% endfor %}
    </div>
    <script>
    const container = document.getElementById('carousel-container-maison');
    const content = document.getElementById('carousel-content-maison');
    const prevBtn = document.getElementById('prev');
    const nextBtn = document.getElementById('next');

    let currentIndex = 0;
    const totalItems = document.querySelectorAll('.carousel-item-maison').length;
    const visibleItems = 3; // Nombre d'images visibles à la fois

    nextBtn.addEventListener('click', () => {
    if (currentIndex < totalItems - visibleItems) {
    currentIndex++;
    updateCarouselMaison();
    }
    });

    prevBtn.addEventListener('click', () => {
    if (currentIndex > 0) {
    currentIndex--;
    updateCarouselMaison();
    }
    });

    function updateCarouselMaison() {
    const newPosition = -currentIndex * 100 / visibleItems + '%';
    content.style.transform = 'translateX(' + newPosition + ')';
    }
    </script>
{% endblock %}