{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <title>Suppression de {{ famille.nomFamille }}</title>
    <h1>Suppression de {{ famille.nomFamille }}</h1>
    <h1>Voulez vous vraiment supprimer cette famille ? :</h1>
    <h2>{{ famille.nomFamille }}</h2>
    <h2>Attention en supprimant cette famille, tous les animaux liés à cette famille seront supprimé</h2>
    <h3>Les animaux liés à cette famille sont :</h3>
    {{ include('animal/_animal.html.twig', {'animaux' : famille.animals}) }}
    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'd-flex'}}) }}
        {{ form_row(form.delete, { 'label': 'Supprimer', 'attr': {'class': 'btn btn-danger'}} )}}
        {{ form_row(form.cancel, { 'label': 'Annuler', 'attr': {'class': 'btn btn-secondary'} })}}
    {{ form_end(form) }}

{% endblock %}
