{{ form_start(form, {'method': 'POST'}) }}
    {{form_row(form.nomAnimal)}}
    {{ form_row(form.descAnimal)}}
    {{ form_row(form.idFamille)}}
<button type="submit" class="btn btn-success">{{ sumbmit_label }}</button>
{{ form_end(form) }}