{% extends 'base.html.twig' %}

{% block title %}Détails de {{ animal.nomAnimal }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleShow.css">
{% endblock %}

{% block body %}

    <div class="entity">
        <div class="corps-entity">
            <img class="entityPresenter" src="{{ asset(animal.image.pathImage) }}" alt="image {{ animal.nomAnimal }}">
            <div class="infoEntity">
                <p class="nomEntity">{{ animal.nomAnimal|first|upper}}{{ animal.nomAnimal|slice(1) }}</p>
                <div>
                    <p class="titre">Emplacement </p>
                    <p> {{ animal.Enclos.nomEnclos|first|upper}}{{ animal.Enclos.nomEnclos|slice(1) }}</p>
                </div>
                <div>
                    <p class="titre">Famille</p>
                    <p> {{ animal.Famille.nomFamille|first|upper}}{{ animal.Famille.nomFamille|slice(1) }} </p>
                </div>
                <div>
                    <p class="titre">Catégorie</p>
                    <p>{{ animal.Categorie.nomCategorie|first|upper}}{{ animal.Categorie.nomCategorie|slice(1) }}</p>
                </div>
            </div>
        </div>

        <div class="description">
            <p class="titre">Description</p>
            <p>{{ animal.descAnimal|first|upper}}{{ animal.descAnimal|slice(1) }}</p>
        </div>
        {% if is_granted('IS_AUTHENTICATED') %}
            <div class="reservation">
                <button>RESERVER</button>

            </div>
        {% endif %}
    </div>
    <div class="relationList">
        {% if sameFamille is not empty %}
        <div class="relation">
            <p class="titre">Animaux de la même famille</p>
            <div class="relationContentFamille">
            {% for animal in sameFamille %}
                <div class="entityFromRelation">
                    <a href="{{ path('app_animal_show', {id: animal.id}) }}">
                        <img src="{{ asset(animal.Image.pathImage) }}"  alt="image {{ animal.nomAnimal|first|upper}}{{ animal.nomAnimal|slice(1) }}">
                        <p>{{ animal.nomAnimal|first|upper}}{{ animal.nomAnimal|slice(1) }}</p>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if events is not empty %}
        <div class="relation">
            <p class="titre">Évènements avec {{ animal.nomAnimal }}</p>
            <div class="relationContentEvent">
            {% for evenement in events %}
                <div class="entityFromRelation">
                    <a href="{{ path('app_evenement_show', {id: evenement.id}) }}">
                        <img src="{{ asset(evenement.Image.pathImage) }}" alt="image {{ evenement.nomEvent }}">
                            <p>{{ evenement.nomEvent|first|upper}}{{ evenement.nomEvent|slice(1) }}</p>
                    </a>
                </div>
            {% endfor %}
         </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
