{% extends 'base.html.twig' %}

{% block title %}Détails de {{ animal.nomAnimal }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styleAnimal.css">
{% endblock %}

{% block body %}

    <div class="animal">
        <div class="corps-animal">
            <img class="animalPresenter" src="{{ asset(animal.image.pathImage) }}" alt="image {{ animal.nomAnimal }}">
            <div class="infoAnimal">
                <p class="nomAnimal">{{ animal.nomAnimal }}</p>
                <div>
                    <p class="titre">Emplacement </p>
                    <p> {{ animal.enclos.nomEnclos }}</p>
                </div>
                <div>
                    <p class="titre">Famille</p>
                    <p> {{ animal.idFamille.nomFamille }} </p>
                </div>
                <div>
                    <p class="titre">Catégorie</p>
                    <p>{{ animal.categorie.nomCategorie }} </p>
                </div>
            </div>
        </div>
        <p class="titre">Description</p>
        <p>{{ animal.descAnimal }}</p>
    </div>
    <div class="AnimauxetEvenements">
        {% if sameFamille is not empty %}
        <div class="animalFamille">
            <p class="titre">Animaux de la même famille</p>
            {% for animal in sameFamille %}
            <div class="animalFamilleImg">
                <img src="{{ asset(animal.image.pathImage) }}" alt="image {{ animal.nomAnimal }}">
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if events is not empty %}
        <div class="evenementAnimal">
            <p class="titre">Évènements avec {{ animal.nomAnimal }}</p>
            {% for evenement in events %}
            <img src="{{ asset(evenement.image.pathImage) }}" alt="image {{ evenement.nomEvent }}">
            {% endfor %}
        </div>
        {% endif %}
    </div>

{% endblock %}
