{% extends 'base.html.twig' %}

{% block title %}Détails de {{ animal.nomAnimal }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styleAnimal.css">
{% endblock %}

{% block body %}

    <div class="animal">
        <div class="corpsAnimal">
            <img class="animalPresenter" src="/img/capybara.jpg" alt="image {{ animal.nomAnimal }}">
            <div class="infoAnimal">
                <p class="nomAnimal">{{ animal.nomAnimal }}</p>
                <div>
                    <p class="titre">Emplacement </p>
                    <p>t3</p>
                </div>
                <div>
                    <p class="titre">Famille</p>
                    <p> {{ animal.idFamille.nomFamille }} </p>
                </div>
                <div>
                    <p class="titre">Catégorie</p>
                    <p>{{ animal.idCategorie.nomCategorie }} </p>
                </div>
            </div>
        </div>
        <p class="titre">Descriptions</p>
        <p>{{ animal.descAnimal }}</p>
    </div>
    <div class="aCoterAnimal">
        <div class="animalFamil">
            <p class="titre">Animaux de la même famille</p>
            <div class="animalFamilImg">
                <img src="/img/capybara.jpg" alt="image {{ animal.nomAnimal }}">
                <img src="/img/capybara.jpg" alt="image {{ animal.nomAnimal }}">
            </div>
        </div>
        <div class="evenementAnimal">
            <p class="titre">Évènement avec {{ animal.nomAnimal }}</p>
            <img src="/img/capybara.jpg" alt="image {{ animal.nomAnimal }}">
            <img src="/img/capybara.jpg" alt="image {{ animal.nomAnimal }}">
        </div>
    </div>

{% endblock %}
