{% extends 'base.html.twig' %}

{% block title %}Détails de {{ animal.nomAnimal }}{% endblock %}

{% block body %}
    <div class="animal">
        <div class="detailAnimal">
        <img src="img/capybara.png" alt="image {{ animal.nomAnimal }}">
        {{ animal.descAnimal }}
        </div>
        <div class="infoAnimal">{{ animal.nomAnimal }} Emplacement famille categorie</div>
    </div>
    <div class="aCoterAnimal">
        <div class="animalFamil">
            <p>Animeaux de la même famille</p>
            <img src="img/capybara.png" alt="image {{ animal.nomAnimal }}">
            <img src="img/capybara.png" alt="image {{ animal.nomAnimal }}">
        </div>
        <div class="evenementAnimal">
            <p>Évènement avec {{ animal.nomAnimal }}</p>
            <img src="img/capybara.png" alt="image {{ animal.nomAnimal }}">
            <img src="img/capybara.png" alt="image {{ animal.nomAnimal }}">
        </div>
    </div>
{% endblock %}
