{{ form_start(form, {'method': 'POST'}) }}
    {{form_row(form.nomEvent)}}
    {{ form_row(form.descEvent)}}
    {{ form_row(form.nbPlaceMaxEvent)}}
    {{ form_row(form.enclos)}}
    {{ form_row(form.duree)}}
    {{ form_row(form.image)}}
<button type="submit" class="btn btn-success w-100">{{ submit_label }}</button>
{{ form_end(form) }}