{{ form_start(form, {'method': 'POST'}) }}
    {{form_row(form.nomEvent)}}
    {{ form_row(form.descEvent)}}
    {{ form_row(form.nbPlaceMaxEvent)}}
    {{ form_row(form.idEnclos)}}
    {{ form_row(form.idImage)}}
<button type="submit" class="btn btn-success">{{ submit_label }}</button>
{{ form_end(form) }}