{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styleEvenement.css">
{% endblock %}

{% block title %}
    Détails de {{ evenement.nomEvent }}
{% endblock %}



{% block body %}
    <div class="content">
    <div class="haut">

        <div class="imgetdesc">
            <img src="{{ asset(evenement.image.pathImage) }}">
            <p>description : {{ evenement.descEvent }}</p>
        </div>
        <div class="description">
            <h1>{{ evenement.nomEvent}}</h1>
            <table>
                <tr>
                    <td>Enclos : {{ evenement.idEnclos.nomEnclos }}</td>
                </tr>
                <tr>
                    <td>Nombre de places maximums : {{ evenement.nbPlaceMaxEvent }}</td>
                </tr>
                {% if animaux is not empty %}
                <tr>
                    <td> Animaux Présents : </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="bas">
        <div class="reservation">
            <button> RESERVER</button>
            <H1> X/X places restantes</H1>



        </div>
        {% if animaux is not empty %}
            <div class="animaux">
                {% for animal in animaux %}
                <div class="animal">
                    <img class="animage" src="{{ asset(animal.image.pathImage) }}"  alt="Un animal">
                    <p>{{ animal.nomAnimal }} </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
