<h1>{{ evenement.nomEvent}}</h1>
<p>nom évènement : {{ evenement.nomEvent}}</p>
<p>enclos : {{ evenement.idEnclos.nomEnclos}}</p>
<p>description : {{ evenement.descEvent }}</p>
<p>nombre de places maximums : {{ evenement.nbPlaceMaxEvent }}</p>
