{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="css/styleEvenement.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}
    Détails de {{ evenement.nomEvent }}
{% endblock %}



{% block body %}
    <div class="haut">

        <div class="imgetdesc">
            <img src="{{ asset('/img/capybara.jpg') }}">
            <p>description : {{ evenement.descEvent }}</p>
        </div>

        <div class="description">
            <h1>{{ evenement.nomEvent}}</h1>
            <p>enclos : {{ evenement.idEnclos.nomEnclos}}</p>
            <p>nombre de places maximums : {{ evenement.nbPlaceMaxEvent }}</p>

            <p>Animaux Présents :</p>

        </div>
    </div>

    <div class="bas">
        <div class="reservation">
            <button> RESERVER</button>
            <H1> X/X places restantes</H1>



        </div>

        <div class="animaux">
            <div class="animal">
                <img class="animal" src="{{ asset('/img/capybara.jpg') }}"  alt="Un animal">
                <p>un animal </p>
            </div>
            <div class="animal">
                <img class="animal" src="{{ asset('/img/capybara.jpg') }}"  alt="Un animal">
                <p>un animal </p>
            </div>
            <div class="animal">
                <img class="animal" src="{{ asset('/img/capybara.jpg') }}"  alt="Un animal">
                <p>un animal </p>
            </div>
            <div class="animal">
                <img class="animal" src="{{ asset('/img/capybara.jpg') }}"  alt="Un animal">
                <p>un animal </p>
            </div>
            <div class="animal">
                <img class="animal" src="{{ asset('/img/capybara.jpg') }}"  alt="Un animal">
                <p>un animal </p>
            </div>

        </div>

    </div>
{% endblock %}
