{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/styleShow.css">
{% endblock %}

{% block title %}
    Détails de {{ evenement.nomEvent }}
{% endblock %}

{% block body %}
    <div class="entity">
        <div class="corps-entity">
            <img class="entityPresenter" src="{{ asset(evenement.Image.pathImage) }}" alt="image {{ evenement.nomEvent }}">
            <div class="infoEntity">
                <p class="nomEntity">{{ evenement.nomEvent|first|upper}}{{ evenement.nomEvent|slice(1) }}</p>
                <div>
                    <p class="titre">Emplacement </p>
                    <p> {{ evenement.Enclos.nomEnclos|first|upper}}{{ evenement.Enclos.nomEnclos|slice(1) }}</p>
                </div>
            </div>
        </div>
        <p class="titre">Description</p>
        <p>{{ evenement.descEvent|first|upper}}{{ evenement.descEvent|slice(1) }}</p>
    </div>

    <div class="relationList">
        {% if animaux is not empty %}
            <div class="relation">
                <p class="titre">Animaux participant à l'évènement</p>
                {% for animal in animaux %}
                <div class="entityFromRelation">
                    <a href="{{ path('app_animal_id', {id: animal.id}) }}">
                        <img src="{{ asset(animal.Image.pathImage) }}"  alt="image {{ animal.nomAnimal|first|upper}}{{ animal.nomAnimal|slice(1) }}">
                        <p>{{ animal.nomAnimal|first|upper}}{{ animal.nomAnimal|slice(1) }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if passageEvenements is not empty %}
    <div class="calender">
        <p class="titre">Créneaux pour cet évènement cette semaine :</p>
        <div class="lstcreneaux">
        {% for passage in passageEvenements %}
            <div class="creneaux">
                <p>{{ passage.DatePassage | date('d/m/Y') }}</p>
                <p>{{ passage.HDebEvenement }}</p>
                <p>{{ passage.nbPlacesRestantes }} / {{ evenement.nbPlaceMaxEvent }} places restantes</p>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
