{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block body %}
    <title>Création d'un ticket pour {{ visiteur.prenomVisiteur }} {{ visiteur.nomVisiteur }}</title>
    <h1>Création d'un ticket pour {{ visiteur.prenomVisiteur }} {{ visiteur.nomVisiteur }}</h1>

    {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form.dateTicket) }}
        {{ form_row(form.prixTicket) }}
        {{ form_row(form.visiteur) }}
        {{ form_row(form.vues) }}
        {{ form_row(form.reservationEvenement) }}
        <button type="submit" class="btn btn-success">Créer le ticket</button>
    {{ form_end(form) }}
{% endblock %}
