{% extends 'base.html.twig' %}
{% block body %}
    <h1>Présentation du ticket</h1>
    <h3>Référence : {{ ticket.id }}</h3>
    <h2>Date : {{ ticket.dateTicket | date('d/m/Y') }}</h2>
    <h2>Nombre de personnes : {{ ticket.nbPers }}</h2>
    {% if not ticket.vues.isEmpty() %}
        <h3>Liste des animaux : </h3>
        {% for vue in ticket.vues %}
            <h4>{{ vue.getAnimal().nomAnimal }}</h4>
            <img src="{{ asset(vue.getAnimal().image.pathImage) }}" alt="image {{ vue.getAnimal().nomAnimal }}">
        {% endfor %}
    {% endif %}

    {% if not ticket.reservationEvenement.isEmpty() %}
        <h3>Liste des Evenements : </h3>
        {% for reservation in ticket.reservationEvenement %}
            <h4>{{ reservation.getPassageEvenement().getEvenement().nomEvent }}</h4>
            <img src="{{ asset(reservation.getPassageEvenement().getEvenement().image.pathImage) }}" alt="image {{ reservation.getPassageEvenement().getEvenement().nomEvent }}">
        {% endfor %}
    {% endif %}
{% endblock %}