{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleTicket.css">
{% endblock %}

{% block body %}
    <h1>Présentation du ticket</h1>
    <h2 style="text-decoration: underline">Référence : {{ ticket.id }}</h2>
    <h2>&ensp;&ensp;Date : {{ ticket.dateTicket | date('d/m/Y') }}</h2>
    <h2>&ensp;&ensp;Nombre de personnes : {{ ticket.nbPers }}</h2>
    <h2>&ensp;&ensp;Prix : {{ ticket.prixTicket }}€</h2>
    <div class="reservation">
        {% if not ticket.vues.isEmpty() %}
            <div>
                <h3>Liste des animaux </h3>
                <div class="animaux">
                {% for vue in ticket.vues %}
                    <div class="animal">
                        <img src="{{ asset(vue.getAnimal().image.pathImage) }}" alt="image {{ vue.getAnimal().nomAnimal }}">
                        <p>{{ vue.getAnimal().nomAnimal }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if not ticket.reservationEvenement.isEmpty() %}
            <div>
                <h3>Liste des Evenements </h3>
                <div class="evenements">
                    {% for reservation in ticket.reservationEvenement %}
                        <div class="evenement">
                            <img src="{{ asset(reservation.getPassageEvenement().getEvenement().image.pathImage) }}" alt="image {{ reservation.getPassageEvenement().getEvenement().nomEvent }}">
                            <p>{{ reservation.getPassageEvenement().getEvenement().nomEvent }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}