{% extends 'base.html.twig' %}

{% block title %} {{ visiteur.prenomVisiteur }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="{{ asset('css/visiteur.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}


    <div class="containerr">
        <div class="left" >
            <img class="img-visiteur" src="/img/3135715.png" alt="Visiteur">

        </div>
        <div class="right" >
            <ul class="info-visiteur" style="list-style-type:none;">

                <li class="info">Email : <b>{{ visiteur.email }}</b></li>
                <li class="info">Tel : <b>{{ visiteur.telVisiteur}}</b></li>
                <li class="info">Adresse : <b>{{ visiteur.adVisiteur }}</b></li>
                <li class="info">Ville : <b>{{ visiteur.villeVisiteur }}</b></li>
                <li class="info">CP : <b>{{ visiteur.cpVisiteur }}</b></li>
            </ul>
        </div>

    </div>
    <div class="ticket">
    {% if usedTicket is not empty or unusedTicket is not empty %}
            <div class="titre-ticket">
                <h2>Liste des tickets</h2>
            </div>
            <div class="info-ticket">
                {% set count = 0 %}
                {% if unusedTicket is not empty %}
                    <ul class="unused" style="list-style-type:none;">
                        <h3>Tickets à venir :</h3>
                        {% for ticket in unusedTicket %}
                            {% set count = count + 1 %}
                            <a href="{{ path('app_ticket_show', {id: ticket.id}) }}">
                                <li><h3>Ticket N°{{ count }}</h3></li>
                            </a>
                                <li><h3>Date : {{ ticket.dateTicket | date('d/m/Y') }}</h3></li>
                            <br>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if usedTicket is not empty %}
                    <ul class="used" style="list-style-type:none;">
                        <h3>Tickets passés :</h3>
                        {% for ticket in usedTicket %}
                            {% set count = count + 1 %}
                            <a href="{{ path('app_ticket_show', {id: ticket.id}) }}">
                                <li><h3>Ticket N°{{ count }}</h3></li>
                            </a>
                            <li><h3>Date : {{ ticket.dateTicket | date('d/m/Y') }}</h3></li>
                            <br>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
    {% endif %}
        <div class="button">
            <a href="{{ path('app_ticket_precreate') }}" class="btn btn-success w-75 p-3">Créer un ticket</a>
        </div>
    </div>


{% endblock %}



